body {
  min-width: 500px;
}

* {
  background-color: rgb(40, 40, 40);
  font-family: SanFranciscoText-Regular, BlinkMacSystemFont, sans-serif;
  color: white;
}

.header {
  border-bottom: 1px solid black;
  display: flex;
  justify-content: center;
}

.subheader, .contact-subheader {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
}

.contact-subheader-title {
  flex-grow: 2;
  text-align: center;
}

.contact-subheader-button {
  border: none;
  width: 80px;
  color: rgb(0, 149, 255);
  cursor: pointer;
}

.contacts-individual {
  padding: 10px;
  width: 700px;
  border-bottom: 0.5px solid black;
  cursor: pointer;
}

.contact-list, .contact-details {
  display: flex;
  flex-direction: column;
  padding: 0 70px 0 70px;
  justify-content: left;
  align-items: left;
}

.new-contact-button {
  margin-left: 60%;
  height: 30px;
  width: 30px;
  margin-top: 15px;
  cursor: pointer;
}

.search-bar {
  padding: 20px;
}

.contact-card-header {
  display: flex;
}

.form {
  display: flex;
  justify-content: center;
  align-items: center;
}

.form-input {
  border: 1px solid black;
  border-radius: 5px;
  height: 30px;
  padding-left: 10px;
  width: 400px;
}