* {
  background-color: rgb(40, 40, 40);
  color: white;
}

.header {
  border-bottom: 1px solid black;
  display: flex;
  justify-content: center;
}

.subheader, .new-contact-subheader {
  display: flex;
  justify-content: center;
}

.contacts-individual {
  padding: 50px;
  cursor: pointer;
}

.new-contact-subheader-title {
  padding: 0 50px 0 50px;
}

.new-contact-subheader-button {
  height: 30px;
  margin: 18px 250px 0 0;
  border: none;
  color: rgb(0, 149, 255);
  cursor: pointer;
}

.new-contact-button {
  margin-left: 60%;
  height: 30px;
  width: 30px;
  margin-top: 15px;
  cursor: pointer;
}

.search-bar {
  padding: 20px;
}

.contact-card-header {
  display: flex;
}